<!DOCTYPE html>
<html>
<head>
	<title>Mohit's Blog</title>
</head>
<body>
<div>
            <h1><a href="">Mohit's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.06.2017, 15:18</p>
            <h2><a href="">My first post</a></h2>
            <p>In my view this is one the most important topic in competitive programming. The problems are simple and easy to code but hard to master. Practice as many DP problems as much possible.</p>
        </div>

        <div>
            <p>published: 19.06.2017, 15:15</p>
            <h2><a href="">My second post</a></h2>
            <p>This document is to guide those people who want to get started or have just started with competitive programming.</p>
        </div>
</body>
</html>